.auc-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 50px !important;

  &-content {
    display: flex;
    height: 100%;

    &.centralize {
      align-items: center;
      justify-content: center;
    }
  }
}